// =============================================================================
// Components -> Dropdown
// =============================================================================
// Contiene los estilos para los componentes de menú desplegable.
// Extraído de _theme.scss original.
// =============================================================================

body {
    .dropdown-item.active,
    .dropdown-item:active {
        --bs-dropdown-link-active-bg: var(--primary-opacity-50);
        --bs-dropdown-link-active-color: var(--text-color);
    }

    &.fdark,
    &.dark {
        .dropdown-menu {
            background-color: var(--bg-card);
            --bs-dropdown-color: var(--text-color);
            border: 1px solid #8d8d8d;
        }
        .dropdown-item {
            --bs-dropdown-link-color: var(--text-color);
            --bs-dropdown-link-hover-bg: #000000;
        }

        // Estilos específicos para dropdowns en componentes de búsqueda
        app-ui-inventory-search-input .dropdown-menu,
        app-ui-insumo-detail-search-input .dropdown-menu,
        .dropdown-menu._productos {
            --bs-dropdown-link-color: #dadada;
        }
    }
}
